* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
  min-height: 100vh;
}

code {
  font-family: OpenSans-Light, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
